name: Docs Deployment

on:
  release:
    types: [released]

jobs:
  docs:
    name: Docs Deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: npm
          node-version: 20
      - name: Install
        run: npm ci
      - name: Generate docs
        run: npm run doc
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.RWT_BOT_PAT }}
          publish_dir: doc
          destination_dir: .
          enable_jekyll: false
          force_orphan: false  # So we keep the doc history
          commit_message: JSDoc ${{ github.event.release.name }}
